
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori </h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yapıldı</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>true</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Film</td>
        <td>Açıklama Yapıldı</td>
        <td>true</td>
    </tr>


</table>
